<%- include('./partials/header') %>
<main class="main">
    <div class="content">
        <article class="detail__card">
            <h2 class="detail__title"><%= coffee.nom %></h2>
            <p class="detail__dispo detail__dispo--<%= coffee.disponible %>">
            <% if (coffee.disponible === true) { %>
             Disponible
            <% } else { %>
              En rupture
            <% } %>
            </p>
            <p class="detail__date">Publié le <time datetime="<%= coffee.date_ajout %>"><%= coffee.date_ajout_formatted %></time></p>
            <img src="/image/coffees/<%= coffee.reference %>.png" class="detail__img" alt="Image de <%= coffee.nom %>"/>
            
            <p class="detail__text"><%= coffee.description %></p>
            <p class="detail__origine">Origine : <img
                src="https://flagcdn.com/w20/<%= coffee.code_pays %>.png"
                srcset="https://flagcdn.com/w40/<%= coffee.code_pays %>.png 2x"
                width="30"
                alt="<%= coffee.origine %>">   <%= coffee.origine %></p>
            <p class="detail__caracteristique">Caractéristique : <%= coffee.caracteristique_principale %></p>
            <p class="detail__price"><%= coffee.prix_kilo %> € / Kg</p>
            <div class="catalogue__link">
                <a href="/catalogue" class="detail__button button" aria-label="Voir le catalogue">Catalogue</a>
                    <a class="button" href="/cart/add/<%= coffee.reference %>"><i class="fa fa-cart-plus" aria-hidden="Ajouter au panier"></i></a>
            </div>
        </article>
    </div>
</main>
<%- include('./partials/footer') %>